body {
    background-color: #96192C;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 666px;
    /* padding-left: 25%; */
    margin-left: 25%;
    border-radius: 37px;
}

.text {
    background-color: rgb(65, 66, 66);
    color: beige;
    border-radius: 18px;
    padding: 20px;
    margin-top: 35px;
}

h2 {
    font-style: italic;
}

h1 {
    color: #D2172C;
}